/*
    To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/

.header-menu
{
    width: 90%;
    height: 30px;
    
}
.list-element-style
{
    float: left;
    margin-top: -7px;
    padding: 10px;
    list-style: none;
    font-family: sans-serif;
    font-size: larger;
    
}
.footer-menu
{
    width: 60%;
    height: 30px;
    margin: 0px auto;
}
.footer-menu ul li
{
    float: left;
    margin-top: -7px;
    padding: 10px;
    list-style: none;
    font-family: monospace;
    font-size: larger;
    
}
.footer-menu ul li a
{
    font-family: monospace;
    font-size: large;
}
.footer-menu ul li :hover
{
    color: black;
    cursor: pointer;
}
a
{
    color: whitesmoke; 
    height: 30px;
    padding: 20px;

}
.header-menu ul li :hover
{
    background-color:gray;
    cursor: pointer;
}
.header-menu ul
{
    margin-top: 0px;
    background-color: black;
    opacity: 0.5;
    height: 30px;
    padding: 10px;
}