body {
    background-image: url(../images/sky.jpg);
    background-size: cover;
}
nav {
    float: unset;
    width: 100%;
    background-color: #0d77ca;
}
footer{
    padding: 5px;
    width: 100%;
}
.menu {
    background-color: #0d77ca;
    margin: 0px;
    padding: 0px;
}
.background-color-blue {
    background-color: #0d77ca;
}
.menu ul li a {
    color: white;
    text-decoration: none;
} 
.footer-menu {
    background-color: transparent;
}
.footer-menu ul li :hover {
    background-color: transparent;
    color: #2f2d2d;
    padding: 0px;
}
.border-radius-left-right-10 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.margin-top-16{
    margin-top: -16px;
}
.content-wrapper {
    padding: 15px;
    display: table;
}  
ul 
{
    padding: 10px;
    height: 30px;
}
ul li{
    display: inline-block;
    padding: 10px;
    list-style: none;
    font-family: monospace;
    font-size: larger;
    
}
li :hover {
    background-color: #2f2d2d;
    cursor: pointer;
    padding-top: 20px;
    padding-bottom: 20px;
}
.main-wrapper {
    border-radius: 10px;
    padding: 0px;
    width: 90%;
    margin: 0px auto;
}

.button-blue{
    background-color: #0d77ca; 
    height: auto;
    border-color: #0d77ca;
    border-radius: 5px;
    padding: 5px 40px 5px 10px;
    border-radius: 20px;
    color: white;
    font-size: 14px;    
}
.left-pain {
    width: 23%;
    padding-right: 20px;
    float: left;
}
.center-pain
{
    width: 70%;
    float: left;
    margin-bottom: 10px;
}
.back-color-black {
    background-color: #2f2d2d;
}
.color-white {
    color: white;
}
.margin-top-10{

    margin-top: 10px;
}
.border-radius-bottom-left-right-10 {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
