body
{
    background-image: url(../images/lake.jpg);
    background-size: cover;
}
header
{
    width: 100%;
    height: 100px;
    margin-top: 50px;
}

main
{
    width: 100%;
}
.login
{
    float: left;
    margin-left: 100px;
    border-radius: 10px;
    border:2px groove #a05307;
    width: 35%;
    padding: 5px;
    border-width: 2px;
    opacity: 0.6;
}
.wrapper-login
{
    width: 99%;
    border-right: 10px;
}

label
{
    font-family: Aldrich;
    font-size: 20px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
    line-height: 0.0px;
    margin-left: 15px;
}
 input
{
    border-radius: 5px;
    width: 85%;
    height: 30px;
    margin-left: 15px;
    font-size: large;
    padding: 10px 5px 10px 32px;
    outline: none;
    font-style: italic;
    box-shadow: 5px 5px 5px #888888; 
    margin-bottom: 20px;
}
input-placeholder  
{ 
	color: rgb(190, 188, 188); 
    font-style: italic;
    margin: 0px auto;
}
.displayer
{
    margin: 0px auto;
}
h1 
{
	font-family: "Rock Salt";
	font-size: 45px;
	font-style: italic;
	font-variant: normal;
	font-weight: bold;
	line-height: 20.9px;
    text-align: center;
}

h3 
{
	font-family: Aldrich;
	font-size: 40px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 0.0px;
	text-align: center;
}
.submit-button
{
    width:30%;
    float :right;
    box-shadow: 5px 5px 3px #888888;
    height: 60px;
    padding-left: 0px;
    margin-top: 10px;
    opacity: 1;
    margin-bottom: 20px;
    margin-top: 30px;
    margin-right: 10px;
}
.signup
{
    float: left;
    margin-left: 100px;
    border-radius: 10px;
    border:2px groove #a05307;
    width: 35%;
    padding: 5px;
    border-width: 2px;
    opacity: 0.6;
}

.color-white
{
    color: white;
}
.checkbox-style {
    width: 15px;
    height: 15px;
    margin-left: 15px;
    outline: none;
    box-shadow: none;
} 
.radio-style {
    width: 15px;
    height: 15px;
    box-shadow: none;
}
select {
    font-size: 18px;
    border-radius: 5px;
    width: 110px;
    margin-top: 10px;
    margin-right: 10px;
}
.margin-right-40 {
    margin-right: 40px;
}
