
.custom-table tr:nth-child(odd)
{
    background-color: orange;
    color: white;
}
.custom-table tr:nth-child(even)
{
    background-color: whitesmoke;
    color: black;
}
.custom-table
{
    border-radius: 5px;
}

.custom-table td,th
{
    padding: 10px 0px;
}