body {
    padding: 0px;
    margin: 0px;
}
.logo {
    width: 90%; 
    margin-top: -10px;
    margin-left: 20px;
}
.banner {
    padding: 65px 0px;
    background-image: url(./images/slide_01.jpg);
    height: 580px;  
}
.menu ul {
    margin-right: 30px;
}
.menu ul li {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}
.menu ul li:hover {
    cursor: pointer;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.background-color-whiteSmoke{
    background-color: whitesmoke;
}
.padding-bottom-30 {
    padding-bottom: 20px;
}
.navbar-header {
    padding-top: 32px;
} 

.slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
.slider-content-wrapper{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 150px;
}
.selected{
    display: block;
}
.slide-caption{
    color: white;
}
.slide-caption span {
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0px auto;
    padding: 0px;
}
.slide-caption h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}
.slide-caption p {
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 24px;
    max-width: 520px;
    margin: 0px auto;
    padding-bottom: 10px;
}

.slide-caption-button a {
    display: inline-block;
    background-color: #a2cf8d;
    padding: 12px 18px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}
.slide-caption-button a:hover {
    background-color: #377719;
}
.service-description-wrapper{
    font-family: 'Open Sans', arial, sans-serif;
}
.service-description-wrapper:hover {
    background-color: #377719;
    color: white;   
    cursor: pointer;
    transition: all 0.7s;
}
.service-item h2{
    font-size: 16px;
    text-align: center;
}
.service-item p {
    text-align: center;
    max-width: 200px;
    font-size: 13px;
    letter-spacing: 0.25px;
    margin-top: 20px;
}
.flex-container-center {
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-container-row {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
}
.service-description-wrapper {
    padding: 10px 80px;
    background-color: white;
    margin-right: 10px;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
    .slide-caption span {
        font-size: 26px;
        text-transform: uppercase;
        font-family: sans-serif;
        margin: 0px auto;
        padding: 0px;
    }
    .slide-caption h2 {
        font-size: 46px;
        text-transform: uppercase;
        font-weight: 900;
        margin-bottom: 20px;
    }
    .slide-caption p {
        font-size: 25px;
        letter-spacing: 0.25px;
        line-height: 24px;
        max-width: 100%;
        margin: 0px auto;
        padding-bottom: 20px;
    }
    .flex-container-row {
        display: flex;
        flex-wrap: wrap;
        flex-flow: column;
        justify-content: center;
    }
    .service-item p {
        text-align: center;
        max-width: 100%;
        font-size: 10px;
        letter-spacing: 0.25px;
        margin-top: 20px;
    }
    .flex-container-row {
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        justify-content: center;
    }
    .service-item h2 {
        font-size: 12px;
        text-align: center;
    }
    .flex-container-center h2 {
        font-size: 15px;
        padding-top: 15px;
        font-weight: 700;
    }
    .service-description-wrapper {
        padding: 10px 80px;
        background-color: white;
        margin-right: 10px;
        width: 80%;
    }
    .flex-container-center h2 {
        font-size: 20px;
        padding-top: 15px;
        font-weight: 800;
    }
    .menu ul li {
        display: inline-block;
        text-decoration: none;
        padding: 30px 20px;
    }
  }
  
  /* iPads (portrait and landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
    .service-item p {
        text-align: center;
        max-width: 100%;
        font-size: 13px;
        letter-spacing: 0.25px;
        margin-top: 20px;
    }
  }
  
  /* iPads (landscape) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    .service-item p {
        text-align: center;
        max-width: 100%;
        font-size: 13px;
        letter-spacing: 0.25px;
        margin-top: 20px;
    }
    .flex-container-row {
        display: flex;
        flex-wrap: wrap;
        flex-flow: wrap;
        justify-content: center;
    }
    .service-item h2 {
        font-size: 12px;
        text-align: center;
    }
    .flex-container-center h2 {
        font-size: 15px;
        padding-top: 15px;
        font-weight: 700;
    }
  }
  
  /* iPads (portrait) ----------- */
  @media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
    .flex-container-center h2 {
        font-size: 15px;
        padding-top: 15px;
        font-weight: 700;
    }
    .service-description-wrapper {
        padding: 10px 60px;
        background-color: white;
        margin-right: 10px;
    }

  }

    /* Samsung Galaxy S5 (landscape) ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: landscape) and (-webkit-device-pixel-ratio: 3) {
    .service-description-wrapper {
        padding: 10px 60px;
        background-color: white;
        margin-right: 10px;
    }
    .service-item h2 {
        font-size: 14px;
        text-align: center;
    }
  }
  
  /* Samsung Galaxy S5 (portrait) ----------- */
  @media only screen and (min-device-width: 360px) and (max-device-height: 640px) and (orientation: portrait) and (-webkit-device-pixel-ratio: 3) {
    .service-item p {
        text-align: center;
        max-width: 100%;
        font-size: 10px;
        letter-spacing: 0.25px;
        margin-top: 20px;
    }
    .menu ul li a {
        font-size: 22px;
    }
    .navbar-header {
        padding-top: 27px;
    }
    .slide-caption h2 {
        font-size: 35px;
        padding-top: 8px;
    }
  }