.headre-style{
    background-color: rgb(24, 16, 16);
    overflow: hidden;
    height: 100px;
}
.image-wrapper {
    padding-left: 150px;
}
.image-style {
    position: relative;
    width: 19%;
    margin-right: -50px;
}
.banner-style {
    background-color: #009eec;
    padding: 10px;
}
.quote{
    color: white;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 300;
} 
.quote h1 {
    text-align: center;
    font-size: 50px;
}
.quote p{
    margin-bottom: 20px;
    font-size: 25px;
    font-weight: 100;
}
.style-img-1{
    height: 202px;
}
.style-img-2{
    height: 252px;
}
.style-img-3{
    height: 302px;
}
.style-img-4{
    height: 252px;
}
.style-img-5{
    height: 202px;    
}
.z-index-2 {
    z-index: 2;
}
.z-index-1 {
    z-index: 1;
}
.z-index-3 {
    z-index: 3;
}