body {
    margin:0;
    background-color: whitesmoke;
}
@-moz-document url-prefix() {
    h2 {
        font-family: cursive;
    }
}
.logo {
    width: 30%;
    padding: 20px;
}
.topnav {
    background-color: #333;
    position: absolute;
    width: 100%;
}
.padding-10 {
    padding: 10px;
}
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.active {
  background-color: #4CAF50;
  color: white;
}

.topnav .icon {
  display: none;
}
.banner {
    padding: 5em 0em;
    background-image: url(../images/slide_01.jpg);
    height: 580px;
    background-size: cover;
}
.slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
.slider-content-wrapper{
    position: inherit;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 80px;
}
.selected{
    display: block;
    margin-top: 70px;
}
.slide-caption{
    color: white;
}
.slide-caption span {
    font-size: 0.83em;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0px auto;
    padding: 0px;
}
.slide-caption h2 {
    font-size: 1.6em;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}
.slide-caption p {
    font-size: 0.9em;
    letter-spacing: 0.25px;
    line-height: 24px;
    max-width: 520px;
    margin: 0px auto;
    padding-bottom: 10px;
}

.slide-caption-button a {
    display: inline-block;
    background-color: #a2cf8d;
    padding: 12px 18px;
    color: #fff;
    font-size: 0.7em;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}
.slide-caption-button a:hover {
    background-color: #377719;
}
.service-description-wrapper{
    font-family: 'Open Sans', arial, sans-serif;
}
.service-description-wrapper:hover {
    background-color: #377719;
    color: white;   
    cursor: pointer;
    transition: all 0.7s;
}
.service-item h2{
    font-size: 17px;
    text-align: center;
    padding: 0px;
    padding-top: 20px;

}
.service-item p {
    text-align: center;
    max-width: 748px;
    font-size: 13px;
    letter-spacing: 0.25px;
    margin-top: 20px;
}
.flex-container-center {
    display: flex;
    justify-content: center;
    width: 100%;
}
.flex-container-row {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
}
.service-description-wrapper {
    padding: 20px 60px;
    background-color: white;
    margin-right: 10px;
}
.service-image-wrapper img {
    height: 40px;
    display: block;
    margin: auto;
}
.service-section {
    width: 100%;
    overflow: hidden;
    font-family: 'Open Sans', arial, sans-serif;
}
.internal-blocks {
    width: 32.6%;
    margin-right: 1vw;
    float: left;
    background-color: white;
    padding: 20px 0px;
    
}
.internal-blocks h2 {
    font-size: 17px;
    text-align: center;
}
.internal-blocks p{
    text-align: center;
    font-size: 13px;
    letter-spacing: 0.25px;
}
.bottomLess {
    padding-bottom: 1200px;
    margin-bottom: -1200px;
}
.content-block {
    margin: 0px auto;
    padding: 10px 60px;
}
@media screen and (max-width: 768px) {
    .slider-content-wrapper{
        padding: 0px;
    }
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
  .slide-caption p {
      display: none;
  }
  .topnav.responsive {
      position: absolute;
      width: 100%;
    }
  .topnav.responsive .icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
    
  }
  .banner{
    height: 300px;
  }
  .bottomLess {
    padding-bottom: 0px;
    margin-bottom: 0px; 
}
.internal-blocks {
    width: auto;
    float:none; 
    background-color: white;
}

}

@media screen and (max-width: 991px) {
    .flex-container-row {
        flex-wrap: wrap;
    } 
}

  /* iPads (landscape) ----------- */
  @media only screen and (min-width: 768px) and (max-width: 1024px) and (orientation: portrait) {
    .flex-container-row {
        flex-flow: column;
    }    
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait){
    .internal-blocks {
        width: 100%;
    }
}


