body {
    padding: 0px;
    margin: 0px;
}
.logo {
    width: 90%; 
    margin-top: -10px;
    margin-left: 20px;
}
.banner {
    padding: 65px 0px;
    background-image: url(./images/slide_01.jpg);
    height: 580px;  
}
.menu ul {
    margin-right: 30px;
}
.menu ul li {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
}
.menu ul li:hover {
    cursor: pointer;
}
.menu ul li a{
    color: white;
    text-decoration: none;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
.background-color-whiteSmoke{
    background-color: whitesmoke;
}
.padding-bottom-30 {
    padding-bottom: 20px;
}
.navbar-header {
    padding-top: 32px;
} 

.slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
.slider-content-wrapper{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 150px;
}
.selected{
    display: block;
}
.slide-caption{
    color: white;
}
.slide-caption span {
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0px auto;
    padding: 0px;
}
.slide-caption h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}
.slide-caption p {
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 24px;
    max-width: 520px;
    margin: 0px auto;
    padding-bottom: 10px;
}

.slide-caption-button a {
    display: inline-block;
    background-color: #a2cf8d;
    padding: 12px 18px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}
.slide-caption-button a:hover {
    background-color: #377719;
}
.service-description-wrapper{
    font-family: 'Open Sans', arial, sans-serif;
}
.service-description-wrapper:hover {
    background-color: #377719;
    color: white;   
    cursor: pointer;
    transition: all 0.7s;
}
.service-item h2{
    font-size: 16px;
    text-align: center;
}
.service-item p {
    text-align: center;
    max-width: 200px;
    font-size: 13px;
    letter-spacing: 0.25px;
    margin-top: 20px;
}
.flex-container-center {
    display: flex;
    justify-content: center;
}
.flex-container-row {
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    justify-content: center;
}
.service-description-wrapper {
    padding: 10px 80px;
    background-color: white;
    margin-right: 10px;
}

@media screen and (max-width: 699px) {
    .slide-caption span {
        font-size: 12px;   
    }
    .slide-caption h2 {
        font-size: 20px;
    }
    .slide-caption p {
        font-size: 13px;
    }
    .logo {
        width:40%;
    }
    .menu ul li {
        width: 0px;
    }
    .menu ul li a {
        width: 
    }
}

@media screen and (max-width: 1000px) and (min-width: 700px) {
   
}

@media screen and (min-width: 1001px) {
  
}