.flex-menu {
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
    width: 100%;
    flex-wrap: wrap;
}

.flex-menu div {
    margin: 10px;
    padding: 20px;
    cursor: pointer;
}
.row-align {
    background-color: rgb(248, 62, 62);
    border-radius: 10px;
}
.col-align {
    background-color: rgb(255, 255, 81);
    border-radius: 10px;
}
.reverse{
    background-color: greenyellow;
    border-radius: 10px;
}
.center-align {
    background-color: skyblue;
    border-radius: 10px;
}
.align-flex-start {
    background-color: white;
    border-radius: 10px;
}
.align-flex-end {
    background-color: orange;
    border-radius: 10px;
}
.flex-container {
    background-color: whitesmoke;
    display: flex;
}
.flex-container>div {
    background-color:
     DodgerBlue;
    color: white;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

