body{
    margin: 0px;
    background-color:#d0cccc30;
    /*background-image: url(../images/bg.jpg);*/
    color: #444444;
    background-size: cover;
    font-family: "Raleway", Arial, Helvetica, sans-serif;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.65;
}
a{
    transition: color 0.2s ease-in-out;
    text-decoration: none;
}
p {
    font-size: 1.5em;
    margin: 0 0 2rem 0;
}
h1 {
    font-size: 3.6em;
}
h2{
    font-size: 2.25rem;
    line-height: 1.3;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    line-height: 1.5;
    text-transform: uppercase;
    margin: 0 0 1.5rem 0;
}
p{
    font-size: 1.5em;
}
.line-space{
    padding: 3rem 0 3rem 0;
    z-index: 1;
}
.header{
    display: flex;
    justify-content: space-between;
    background: #111111;
    color: rgba(255, 255, 255, 0.5);
    cursor: default;
    height: 3.25rem;
    left: 0;
    line-height: 3.25rem;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}
.header a {
    text-decoration: none;
    color: white;
}
.header > .logo {
    color: #ffffff;
    font-size: 1rem;
    font-weight: 600;
    height: inherit;
    line-height: inherit;
    padding: 0 1.25rem;
    text-decoration: none;
}
.horizontal-menu > ul > li > a {
    color: #9b9898;
    cursor: pointer;
}
.header > nav >a:hover {
    color: white;
}
.horizontal-menu > ul > li{
    text-decoration: none;
    display: inline-block;
    padding-right: 3vw;
}
.horizontal-menu >ul li:first-child {
   display: none;
}
.banner {
    text-align: center;
    color: #111111;
    overflow: hidden;
    position: relative;
    height: 35rem;
}
.banner::before{
    transition: opacity 3s ease;
    transition-delay: 1.25s;
    background: #111111;    
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.45;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.banner::after{
    background: linear-gradient(135deg, #ce1b28 0%, #111111 74%);
    content: ' ';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1;
}
.banner .inner h1 {
    font-size: 4vw;
}
.banner .inner p {
    font-size: 2.1vw;
}
.banner video { 
    transform: translateX(50%) translateY(50%);
    bottom: 50%;
    height: auto;
    min-height: 100%;
    max-width: 100%;
    overflow: hidden;
    position: absolute;
    right: 50%;
    width: auto;
    z-index: 1;
}
.inner{
    margin: 0px auto;
    width: 75vw;
    position: relative;
    z-index: 2;
    color: white;
    text-align: center;
}
.banner .inner{
    padding-top: 200px;
}
.banner .inner > p > a{
    color: rgb(122, 118, 118);
}
.banner .inner > p > a:hover{
    color: white;
}
.section-1{
    text-align: center;
    margin: 0px auto;
    width: 75vw;
}
.section-1 .inner{
    color: #555555;
}
.section-2 {
    padding: 0px;
    margin: 0 auto;
    width: 75rem;
    max-width: calc(100% - 6rem);
    overflow: hidden;
}
.content-blocks{
    background-color: white;
    float: left;
    margin-right: 0.3vw;
    overflow: hidden;
    width: calc(33.3333333333% + -0.5rem);
    margin-top: 10px;
}
.content-wrapper {
    margin: 30px auto;
    background-color: white;
    overflow: hidden;
    width: 80%;
    text-align: center;
    height: 230px;
}
.content-wrapper p{
    font-size: 1rem;
}
.content-wrapper img {
    max-height: 64px;
}
.section-3 {
    color: rgba(255, 255, 255, 0.75);
    background-attachment: fixed;
    background-image: linear-gradient(rgba(206, 27, 40, 0.25), rgba(206, 27, 40, 0.25)), url(../images/cta01.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    text-align: center;
    z-index: 1;
    overflow: hidden;
}
.section-3 .inner {
    margin: 50px auto;
}
.section-3 .inner h2{
    font-size: 2rem;
}
.section-3 .inner p{
    font-size: 1rem;
}
.section-4{
    margin: 0px;
    padding: 0px;
}
.section-4 .inner{
    color: #555555;
}


.section-4 .inner p{
    font-size: 1rem;
}
.menu-style{
    position: fixed;
    top: 0px;
    right: 0;
    background-color: black;
    z-index: 101;
    padding: 10px 20px;
    height: 100%;
    width: 20%;
    display: none;
    transition: display linear 1s;
}
.menu-style ul {
    list-style: none;
    padding: 0;
    margin: 5px 0px;
}
.menu-style ul li {
    padding: 15px;
}
.menu-style ul li a {
    color: #ffffff;
    text-decoration: none;
}
.menu-style ul li{
    border-top: 1px solid gray;
}
.menu-style ul li:first-child{
    border-top:0px;
}

@media only screen and (min-width:768px) and (max-width:991px){
   .banner {
       height:27rem;
   }
    .content-blocks{
        width: calc(50% + -0.5rem);
    }

}
@media only screen and (min-width:479px) and (max-width:767px){
    
    .banner {
        height:17rem;
    }
    .banner .inner{
        padding-top: 100px;
    }
    .content-blocks{
        width: calc(100% + -0.5rem);
    }
    h2{
        font-size: 1.75rem;
    }
    p{
        font-size: 1.2em
    }   
    .horizontal-menu > ul > li{
        display: none;
    }
    .horizontal-menu >ul li:first-child {
       display: block;
       cursor: pointer;
    }
    .vertical-menu > ul{
        background-color: #111111;
    }
    .vertical-menu > ul li{
        display: block;
        padding-left: 40px;
        margin: 0px 10px;
    }
    .vertical-menu > ul li:nth-child(n+3){
        border-top: 1px solid gray;
    }
    
}
@media only screen and (min-width:360px) and (max-width:640px){
    
    .banner {
        height:12rem;
        top: 52px;
    }
    .banner .inner{
        padding-top: 50px;
    }
    .banner .inner p{
        font-size: 0.65em;
    }
    .content-blocks{
        width: calc(100% + -0.5rem);
    }
    .content-wrapper {
        height: 245px;
    }
    h1, h2, h3, h4, h5, h6 {
        font-weight: 300;
        line-height: 1.2;
        text-transform: uppercase;
        margin: 0 0 1.5rem 0;
    }
    p{
        font-size: 1.2em
    }
    h2{
        font-size: 1.75rem;
    }
    .header> nav > a{
        display: none;
    }
    .horizontal-menu :last-child{
        display: block;
    }
    .menu-style ul li a{
        font-size: 0.8rem;
    }
}