@import "veneer/frontend_variables";

.footer {
    width: 100%;
    .footer-wrapper {
        .social-container {
            text-align: center;
            a{
                text-decoration: none;
            }
            .fa {
                padding: 0 10px;
                color: $gray-darker;
            }
            .fa:hover {
                color: $red-darker;
            }
        }
    }
    .copyright{
        color: $gray-darkest;
        background: $gray-light;
        padding: 20px 0;
        .container {
            max-width: 90%;
            margin: 0px auto;
        }
    }   
}