@import "veneer/frontend_variables";

.header {
    position: fixed;
    top: 0;
    background-color: $red-light;
    border-bottom: 1px solid $red-lighter;
    width: 100%;
    z-index: 50;
    .logo {
        color: $white;
        font-weight: 900;
        float: left;
        padding: 10px 20px;
        font-size: 32px;
    }
    .menu-container {
        float: right;
        position: relative;
        ul{
            li{
                display: inline-block;
                padding: 20px 10px;
                a{
                    font-size: 16px;
                    text-decoration: none;
                    text-transform: uppercase;
                    color: $gray-light;
                }
                a:hover {
                    color: $white;
                }
            }
            li:first-child {
                display: none;
            }
            @media (max-width: #{$sm-max - 1px}) {
                li{
                    display: none;
                }
                li:first-child {
                    display: block;
                }
                
            }
        }
    }
    .menu-container-block{
        ul {
            li{
                display: block;
                text-align: right;
            }
        }
    }
    .active{
        color: $gray-light;
    }
}