

//Screen Sizes

$xs-min: 320px;
$xs-max: 767px;
$sm-min: 768px;
$sm-max: 991px;
$md-min: 992px;
$md-max: 1199px;
$lg-min: 1200px;

//Colors

$white:#fff;
$gray-lighter:#c9c9c9;
$gray-light:#e4e4e4;
$gray-darker:#9c9c9c;
$gray-darkest: #5E5E5E;
$red-light:#CC4646;
$red-darker:#c0392b;
$red-lighter:#F57676;
$green:#468c1f;


//Spaces
$line-height:20px;

//** Number of columns in the grid.
$grid-columns: 12 !default;


//sizes
$standard-icon-size:32px;