@mixin border-radius($radius){
    border-radius: $radius !important;
}
@mixin padding($values...) {    
    @each $var in $values {
        padding: #{$var};
    }
}
@mixin media-query($min-width, $max-width) {
    @media (min-width: #{$min-width}) and (max-width: #{$max-width - 1px}) {
        @content;
    }
}