.text-center {
    text-align: center;
}
.container{
    position: relative;
}
@mixin setupFontSizeUtils() {
	@for $i from 4 through 32 {
		.font-size-#{$i} {
			font-size: #{$i}px !important;
		}
	}
}

$sides: (
	right
	bottom
	left
	top
);

@mixin setupMarginAndPaddingUtils() {
	@each $side in $sides {
		$i: 0;
		$max: 60;
		$mult: 1;

		@while $i <= $max {
			.m-#{$side}-#{$i} {
				margin-#{$side}: #{$i}px !important;
			}

			.p-#{$side}-#{$i} {
				padding-#{$side}: #{$i}px !important;
			}

			$i: $i + $mult;
		}
	}

	$i: 0;
	$max: 50;
	$mult: 1;

	@while $i <= $max {
		.m-all-#{$i} {
			margin: #{$i}px !important;
		}

		.p-all-#{$i} {
			padding: #{$i}px !important;
		}

		$i: $i + $mult;
	}
}