
.aboutus-wrapper{
    background-color: $gray-light;
    overflow: hidden;
    padding-bottom: 30px;
    header {
        h2{
            font-size: 30px;
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            color: $red-darker;
        }
        p{
            color: #858585;
        }

        text-align: center;
        padding: 40px;
    }
    .box-wrapper {
        width: 33.33333333%;
        float: left;
        text-align: center;
    }
    @media (max-width: #{$sm-max - 1px}){
        .box-wrapper {
            width: 100%;
            margin-bottom: 10px;
        }   
    }
    .description-box-row {
        overflow: hidden;
        padding: 0px;
        margin: 0 auto;
        max-width: calc(100% - 96px);
        .description-box-row-wrapper{
            overflow: hidden;
            .box-wrapper {
                .box{
                    padding: 0px 10px;
                    .upper-container {
                        background-color: #fff;
                        .fa{
                            font-size: 58px;
                            color: #5E5E5E;
                        }
                        h2{
                            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                            font-weight: 500;
                            font-size: 24px;
                            line-height: 1.1;
                        }
                        padding: 20px 10px;
                        line-height: 2
                    }
                    .lower-container {
                        text-align: center;
                        padding: 20px;
                        background:$gray-lighter;
                    }
                }
                
            }

        }
    }
}

.quote {
    background: url("../images/banner-bg.jpg");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    text-align: center;
    overflow: hidden;
    color: $white;
    .quote-wrapper {
        width: 100%;
        margin: 60px auto;
        h2{
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight: 500;
            font-size: 24px;
            line-height: 1.1;
        }
        h3{
            font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
            font-weight: 500;
            font-size: 20px;
            line-height:3.0;
        }
        padding: 20px 10px;
        line-height: 2
    }
}