.animation-block-wrapper {
    border: 2px solid black;
    height: 400px;
    width: 500px;
    margin: 50px auto;   
}
.play-button  {
    background-color: rgb(6, 137, 177);
    width: 8%;
    padding: 10px 20px;
    border-radius: 10px;
    margin: 0px auto;
}
.play-button :hover {
    cursor: pointer;
}
.ball-style {
    height: 50px;
    border-radius: 25px;
    width: 50px;
    position: relative;
    background-color: rgb(6, 137, 177);
    animation-duration: 12s;
    animation-delay: 0s;
}
@keyframes example {
    0%   {background-color:red; left:0px; top:0px;}
    10%  {background-color:yellow; left:360px; top:350px;}
    20%  {background-color:blue; left:450px; top:200px;}
    30%  {background-color:green; left:0px; top:80px;}
    40% {background-color:red; left:120px; top:0px;}
    50%  {background-color:yellow; left:450px; top:200px;}
    60%   {background-color:red; left:0px; top:0px;}
    70%  {background-color:yellow; left:360px; top:350px;}
    80%  {background-color:blue; left:450px; top:200px;}
    90%  {background-color:green; left:0px; top:80px;}
    100% {background-color:red; left:120px; top:0px;}
}