.flex-menu {
    display: flex;
    flex-flow: row;
    position: fixed;
    background-color: transparent;
    top: 0px;
    width: 100%;
    color: white;
}
.flex-menu div {
    padding: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.flex-menu div:hover {
    background-color:rgb(146, 148, 150);
    cursor: pointer;
}
.logo {
    width: 200px;
    padding-top: 8px;
    padding-right: 700px;
    padding-left: 20px;
}
.banner {
    padding: 65px 0px;
    background-image: url(../images/slide_01.jpg);
    height: 580px;  
}
.slider li {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    display: none;
}
.slider-content-wrapper{
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    padding: 115px;
}
.selected{
    display: block;
    margin-top: 70px;
}
.slide-caption{
    color: white;
}
.slide-caption span {
    font-size: 14px;
    text-transform: uppercase;
    font-family: sans-serif;
    margin: 0px auto;
    padding: 0px;
}
.slide-caption h2 {
    font-size: 36px;
    text-transform: uppercase;
    font-weight: 900;
    margin-bottom: 20px;
}
.slide-caption p {
    font-size: 15px;
    letter-spacing: 0.25px;
    line-height: 24px;
    max-width: 520px;
    margin: 0px auto;
    padding-bottom: 10px;
}

.slide-caption-button a {
    display: inline-block;
    background-color: #a2cf8d;
    padding: 12px 18px;
    color: #fff;
    font-size: 11px;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 20px;
    transition: all 0.5s;
}
.slide-caption-button a:hover {
    background-color: #377719;
}