.banner p {
        font-family: sans-serif;
}
.banner img {
        width:100%;
        max-height: 662px;
}
.carousel-caption {
        top: 35%;
}
.service-container {
        background-color: rgb(207, 207, 207);
}
.content-wrapper {
        padding: 20px;
        background-color: white;
}
.padding-bottom-20 {
        padding-bottom: 20px;
}
.font-100 {
        font-size: 100px;
}
.goal-style h1 {
        font-weight: 700;
}
.goal-style p {
        font-family: 'Bad Script';
        font-weight: 800;
        font-size: 30px;
}
.goal-style .jumbotron {
        margin-bottom: 0px;
}

.quote-text {
        font-size: 40px;
}
.social-container {
        font-size: 30px;
}
.social-container a{
        text-decoration: none;
        color: whitesmoke;
        padding: 0px 10px;
}
.social-container a:hover{
        text-decoration: none;
        color: lightgrey;
}
.copyright {
        padding-top: 20px;
}
.row >header {
        padding: 40px;
        text-align: center;
}
.color-white {
        color: white;
}
.background-white-smoke {
        background-color: whitesmoke;
}
.contact-form {
        margin-top: 10px;
        margin-bottom: 40px;
}

@media only screen and (max-width:991px) {
        .address {
                padding-top: 20px;
        }
}

@media only screen and (max-width:768px) {
        .carousel-caption > h2 {
                font-size: 3.1vw;
        }
}