.banner {
    position: relative;
    img{
        width: 100%;
    }
    .slider {
        position: absolute;
        top: 45%;
        text-align: center;
        width: 100%;
        .wrapper{
            color: $white;
            h2{
                font-size: 40px;
            }
            p{
                font-size: 24px;  
            }
            @media (max-width: #{$xs-max - 1px}) {
                h2{
                    font-size: 32px;
                }
                p{
                    font-size: 16px;  
                }
        
            }
        }
        .slider-hide {
            display: none;
        }
    }
}