@import "veneer/mixins";
.contact-us{
    width: 100%;
    background-color: #f1f0f0;
    .wrapper {
        overflow: hidden;
        margin: 0px auto;
        max-width: calc(100% - 96px);
        @include padding(0px 0px 30px);
        header {
            text-align: center;
            padding: 40px;
            h2{
                font-size: 30px;
                font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
                color: $red-darker;
            }
            p{
                color: #858585;
            }
        
        }
    }
}

